@import "properties";

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $background-white;
    font-family: $font;
    font-size: 16px;
    min-width: fit-content;
  }
